<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
    <style>
        .info {
            padding: 10px;
            width: 240px;
            overflow: hidden;
        }
        .info input{
            margin-bottom: 10px;
        }
        .info button {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <ul>
            <li v-for="item in person" :key="item.id">
                <span>{{ item.name }}</span>----<span>{{ item.age }}</span>
            </li>
        </ul> -->
        <div class="info">
            姓名: <input type="text" placeholder="请输入姓名" v-model="name"><br>
            年龄: <input type="number" placeholder="请输入年龄" v-model="age"><br>
            <button @click="Add">添加</button>
        </div>

        <table border="1" cellspacing="0" cellpadding="5">
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>年龄</th>
                <th colspan="2">操作</th>
            </tr>
            <tr v-for="item in person" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td><button @click="Delete(item.id)">删除</button></td>
                <td><button @click="Update(item.id)">更新</button></td>
            </tr>
        </table>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    name: '',
                    age: '',
                    person: [
                        { id: 1, name: 'Jack', age: 18},
                        { id: 2, name: 'Marray', age: 20},
                        { id: 3, name: 'Bob', age: 19},
                        { id: 4, name: 'Mike', age: 17},
                        { id: 5, name: 'Jane', age: 15},
                    ]
                }
            },
            methods: {
                Delete(id) {
                    console.log(id);
                    this.person.forEach((item, index) => {
                        if (item.id === id) {
                            this.person.splice(index, 1);
                        }
                    });
                },
                Update(id){
                    let date = Date.now();
                    this.person.forEach((item, index) => {
                        if (item.id === id) {
                            this.person[index].id = date;
                        }
                    });
                },
                Add() {
                    if(this.name === ''){
                        alert('请输入姓名！');
                        return
                    } else if (this.age === ''){
                        alert('请输入年龄！');
                        return
                    }
                    let arr = []
                    this.person.forEach((item, index) => {
                        arr.push(item.id);
                    });
                    let max = Math.max.apply(null, arr);
                    console.log('max', max);
                    max++;
                    
                    let obj = {};
                    obj.id = max;
                    obj.name = this.name;
                    obj.age = this.age;
                    this.person.push(obj);

                    this.name = '';
                    this.age = '';
                },
                
            },
        })

        /* 
            vue在内部是如何监视数据的变化
                1. vue会监视data中所有层面的信息
                2. 对象中的属性数据
                    给属性添加setter方法
                3. 数组中元素数据
                    重写(重新定义)数组一系列更新数组元素的方法
                    this.person.splice(index, 1);  已经不是原生数组方法，而是vue中重新定义的数组方法。

                    方法的实现
                        1). 调用原生数组对应的方法，对数组元素进行处理
                        2). 更新界面
        */
    </script>
</body>

</html>